<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMMENT-STACK-BOARD - Email Confirmation</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <div class="container">
        <div class="center">
            <h1>COMMENT-STACK-BOARD</h1>
            <div class="text-box">
                <form id="eConfirm" action="/confirm+email" method="POST" target="">
                    <h2 class="promptAble">Please enter email confirmation code</h2>
                    <h2 class="incorrectNotifier hidden">INCORRECT CODE</h2>
                    <label for="ecode">Recieved Email Code:
                    </label>
                    <input id="ecodeInput" type="text" name="ecode" required placeholder="- - - - - - - -"/>
                        <!-- Prevent implicit submission of the form -->
                    <button class="hidden" type="submit" disabled aria-hidden="true"></button>
                    <button class="submitBtn" id="submitBtn" type="button">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>

        function applyInputCleanup(element) {
            if(element.value.length > 8) {
                element.value = element.value.replace(/\s/g, '');
            }
        }

        function isInputConditionMet(element) {
            if( element.value.length >= 3 && element.value.length <= 9 ) {
                if(parseInt(element.value) == element.value) {
                    return true;
                }
            }
            return false;
        }

        function setDefaultFieldContent(element) {
            element.classList.remove('correctContent');
            element.classList.remove('incorrectContent');
        }

        function notifyCorrectFieldContent(element) {
            element.classList.remove('incorrectContent');
            element.classList.add('correctContent');
        }

        function notifyIncorrectFieldContent(element) {
            element.classList.remove('correctContent');
            element.classList.add('incorrectContent');
        }

        function correctFieldInput() {
            document.getElementsByClassName('promptAble')[0].classList.remove('hidden');
            document.getElementsByClassName('incorrectNotifier')[0].classList.add('hidden');
        }

        function incorrectFieldInput( ...elements) {
            document.getElementsByClassName('promptAble')[0].classList.add('hidden');
            document.getElementsByClassName('incorrectNotifier')[0].classList.remove('hidden');
            
            for(let ele of elements) {
                notifyIncorrectFieldContent(ele);
            }
        }

        ( function assignInputOnUpdate() {
            for(let input of document.getElementsByTagName('input')) {

                input.addEventListener( "focusin", () => {
                    setDefaultFieldContent(input);
                } );

                input.addEventListener( "focusout", () => {
                    if( isInputConditionMet(input) ) {
                        notifyCorrectFieldContent(input);
                        // * go through other inputs and check if prompt can return to normal.
                        for(let otherInput of document.getElementsByTagName('input')) {
                            if(!isInputConditionMet(otherInput)) { return ;}
                        }
                        correctFieldInput();
                    } else {
                        notifyIncorrectFieldContent(input);
                        incorrectFieldInput(input);
                    }
                } );

                input.addEventListener( "input", () => {
                    if( isInputConditionMet(input) ) {
                        notifyCorrectFieldContent(input);
                    } else {
                        notifyIncorrectFieldContent(input);
                    }
                } );

                input.addEventListener( 'paste', () => {
                    document.getElementById("submitBtn").click();
                } );
            }
        })();

        (function assignSubmitBtnOnClick() {
            let submitBtn = document.getElementById("submitBtn");
            submitBtn.onclick = () => {
                var postData = new Object();

                let codeInput = document.getElementById("ecodeInput");

                applyInputCleanup(codeInput);
                
                if(!isInputConditionMet(codeInput)) {
                    return incorrectFieldInput(codeInput);
                }
                postData.ecode = codeInput.value;

                let ecodeXhr = new XMLHttpRequest();
                    ecodeXhr.responseType = 'text/plain';
                    ecodeXhr.open('POST', "/confirm+email");
                    ecodeXhr.setRequestHeader("Content-Type", "application/json");

                    ecodeXhr.onload = function (e) {
                    
                        // * If Recieve OK - Proceed to home page.
                        if (this.status >= 200 && this.status <= 299) {
                            if(Boolean(this.getResponseHeader('Location'))) {
                                window.location.assign(this.getResponseHeader('Location'));
                            } else {
                                window.location.assign('/');
                            }
                            return ;
                        }

                        /* if (this.status >= 300 && this.status <= 399) {
                            // ! Unable to Control redirects with XHR
                        } */

                        if(this.status >= 400 && this.status <= 499) {
                            return incorrectFieldInput(codeInput);
                        }

                        if(this.status >= 500 && this.status <= 599) {
                            alert('Please Notice! \nCOMMENT-STACK-MESSEGE-BOARD is currently undergoing maintenance.. \nPlease be patient, and checkback later. \n\nThank You.');
                            window.location.assign('/');
                        }
                        return ;
                    };
                ecodeXhr.send(JSON.stringify(postData));
            };
        })();

    </script>
    
</body>
</html>