<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMMENT-STACK-BOARD - Oops!</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    
    <div class="container" >
        <div class="center" >
            <h1>COMMENT-STACK-BOARD</h1>
            <h2>Oops! How did you get here?</h2>
            <div class="text-box" >
                <h3>Please follow all prompts and instructions.</h3>
                </br>
                <p >This page web page is displayed because you tried something...unexpected..</br></br>
                    Please go back to the <a href="/">Home</a> page and follow the available links.</p>
            </div>
        </div>
    </div>

</body>
</html>