<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMMENT-STACK-BOARD - SIGN-UP</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <header>
        <a href="/"><button id="homeBtn">Home</button></a>
    </header>

    <div class="container">
        <div class="center">
            <h1>COMMENT-STACK-BOARD</br>- Sign-Up -</h1>
            <div class="text-box">
                <h2 class="promptAble">To participate and leave comments<br>Fill in the following information:</h2>
                <h2 class="incorrectNotifier hidden">INCORRECT FIELDS</br>Please check entry fields.</h2>
                <form id="signup" action="/signup" method="POST" target="">
                    <label id="nameLabel" for="name">Name:</label>
                    <input id="signUpNameInput" type="text" name="name" required placeholder="display name"/>
                    <label id="emailLabel" for="mail">Email:</label>
                    <input id="signUpMailInput" type="email" name="email" required placeholder="user.name@mail.com"/>
                    <label id="pwdLabel" for="pwd">Password:</label>
                    <input id="signUpPwdInput" type="password" name="pwd" required placeholder="********"/>
                    <!-- Prevent implicit submission of the form -->
                    <button class="hidden" type="submit" disabled aria-hidden="true"></button>
                    <button class="submitBtn" id="signupSubmitBtn" type="button">Submit</button>
                    <button class="cancelBtn" id="signupCancelBtn" type="button">Clear</button>
                </form>
            </div>
        </div>
    </div>

    <script>

        let emailReg = new RegExp(/[^._+][a-zA-Z0-9._\(\)+]{1,63}@[a-zA-z0-9\-]{1,45}.[a-zA-Z0-9]{1,45}/);

        function isEmail(str) {
            if( !str.includes('@') ) { return false; }
            return emailReg.test(str);
        }

        function isInputConditionMet(element) {
            if(element.name == 'name') {
                if( element.value.length >= 3 && element.value.length <= 15 ) {
                    return true;
                }
            } else if(element.name == 'email') {
                if( element.value.length >= 5 && element.value.length <= 256 ) {
                    if( isEmail(element.value) ) {
                        return true;
                    }
                }
            } else if(element.name == 'pwd') {
                if(element.value.length >= 3 && element.value.length <= 15) {
                    return true;
                }
            }
            return false;
        }

        function correctFieldInput() {
            document.getElementsByClassName('promptAble')[0].classList.remove('hidden');
            document.getElementsByClassName('incorrectNotifier')[0].classList.add('hidden');
        }

        function incorrectFieldInput( ...elements) {
            document.getElementsByClassName('promptAble')[0].classList.add('hidden');
            document.getElementsByClassName('incorrectNotifier')[0].classList.remove('hidden');
            
            for(let ele of elements) {
                notifyIncorrectFieldContent(ele);
            }
        }

        function setDefaultFieldContent(element) {
            element.classList.remove('correctContent');
            element.classList.remove('incorrectContent');
        }

        function notifyCorrectFieldContent(element) {
            element.classList.remove('incorrectContent');
            element.classList.add('correctContent');
        }

        function notifyIncorrectFieldContent(element) {
            element.classList.remove('correctContent');
            element.classList.add('incorrectContent');
        }

        ( function assignInputOnUpdate() {

            for(let input of document.getElementsByTagName('input')) {

                input.addEventListener( "focusin", () => {
                    setDefaultFieldContent(input);
                } );

                input.addEventListener( "focusout", () => {
                    if( isInputConditionMet(input) ) {
                        notifyCorrectFieldContent(input);
                        // * go through other inputs and check if prompt can return to normal.
                        for(let otherInput of document.getElementsByTagName('input')) {
                            if(!isInputConditionMet(otherInput)) { return ;}
                        }
                        correctFieldInput();
                    } else {
                        notifyIncorrectFieldContent(input);
                        incorrectFieldInput(input);
                    }
                } );

                input.addEventListener( "input", () => {
                    if( isInputConditionMet(input) ) {
                        notifyCorrectFieldContent(input);
                    } else {
                        notifyIncorrectFieldContent(input);
                    }
                } );
            }
        })();

        ( function assignCancelBtnOnClick() {
            let cancelBtn = document.getElementById("signupCancelBtn");
                cancelBtn.onclick = () => {
                    let signupForm = document.getElementById('signup');
                    
                    correctFieldInput();

                    for(let field of signupForm.getElementsByTagName("input")) {
                        setDefaultFieldContent(field);
                        field.value = '';
                    }
                }
        })();

        ( function assignSubmitBtnOnClick() {
            let submitBtn = document.getElementById("signupSubmitBtn");
                submitBtn.onclick = () => {
                    var signupObj = new Object();

                    let nameI = document.getElementById("signUpNameInput");
                    let emailI = document.getElementById("signUpMailInput");
                    let pwdI = document.getElementById("signUpPwdInput");

                    if( !isInputConditionMet( nameI ) ) {
                        return incorrectFieldInput( nameI ); 
                    }
                    signupObj.name = nameI.value;

                    if( !isInputConditionMet( emailI ) ) {
                        return incorrectFieldInput( emailI ); 
                    }
                    signupObj.email = emailI.value;

                    if( !isInputConditionMet( pwdI ) ) {
                        return incorrectFieldInput( pwdI ); 
                    }
                    signupObj.pwd = pwdI.value;

                    let signupXhr = new XMLHttpRequest();
                    signupXhr.responseType = 'text/html';
                    signupXhr.open('POST', "/signup");
                    signupXhr.setRequestHeader("Content-Type", "application/json");

                    signupXhr.onload = function (e) {

                        if (this.status >= 200 && this.status <= 299) {
                            
                            if(Boolean(this.getResponseHeader('Location'))) {
                                
                                if(this.getAllResponseHeaders().includes('email-attempt: ')) {
                                    let headerPortion = this.getAllResponseHeaders().split('email-attempt: ');
                                    let attemptEmail = headerPortion[1].substr(0, headerPortion[1].indexOf('\n'));
                                    window.location.assign(`${ this.getResponseHeader('Location') }?=${ attemptEmail }`);

                                    return ;
                                } else {
                                    window.location.assign(this.getResponseHeader('Location'));
                                }
                            } else {
                                window.location.assign('/');
                            }
                            return ;
                        }

                        /* if (this.status >= 300 && this.status <= 399) {
                            // ! Unable to Control redirects with XHR
                        } */

                        if(this.status >= 400 && this.status <= 499) {
                            return incorrectFieldInput( 
                                nameI, pwdI, emailI
                            );
                        }

                        if(this.status >= 500 && this.status <= 599) {
                            alert('Please Notice! \nCOMMENT-STACK-MESSEGE-BOARD is currently undergoing maintenance.. \nPlease be patient, and checkback later. \n\nThank You.');
                            window.location.assign('/');
                        }
                        return ;
                    };

                    signupXhr.send(JSON.stringify(signupObj));
                };
        })();

        ( () => {
            document.getElementById('signUpNameInput').focus()
        })();

    </script>
    
</body>
</html>